<!DOCTYPE html>
<html lang="en" data-ng-app="requestLoggerApp">
<link rel="shortcut icon" href="/_view/favicon.ico" type="image/x-icon">
<link rel="icon" href="/_view/favicon.ico" type="image/x-icon">
<head>
    <meta charset="UTF-8">
    <title>HTTP Request Logger</title>
    <!-- Generate integrity hashes here: https://www.srihash.org/ -->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>

<body>

<nav class="navbar navbar-default" role="navigation" ng-controller="navigationController">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

        <button type="button" class="navbar-toggle" ng-init="navCollapsed = true"
                ng-click="navCollapsed = !navCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#/">Home</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'" ng-click="navCollapsed = true">
        <form class="navbar-form navbar-left" role="search" ng-submit="go('/path/' + search.path)">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Path Search" ng-model="search.path">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#/about">About</a></li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>

<div data-ng-view></div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"
        integrity="sha384-F5IrGRbLKZq5OBu2iaIPe+OuQlXnMMQrjftXrOd7wL5PJNVhQ5RJvSqJ/BgHZFu0"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-route.js"
        integrity="sha384-/NKMeoPrKrSoQaolrKzV8Qt11hRGZiNcbkyQyGHuENI8DvT1FcTsdVTBdvcMbExx"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.js"
        integrity="sha384-ZfhKu1fgrC9QqMdrgn6thXDRy2sfMNgrvSattMHqGqHy0eLvT6rwwVwcwDzxaZBV"
        crossorigin="anonymous"></script>
<script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.2.5.js"
        integrity="sha256-gT9Ci4tCoQ7jPO9AOsW73MFkWeEtFInGiYQAcAYaSs4=" crossorigin="anonymous"></script>
<script src="/_view/app.js"></script>
</body>
</html>
